*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  line-height: 1.6;
  font-weight: 400; }

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content) 40vw repeat(6, min-content);
  grid-template-columns: [sidebar-start] 25rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
  z-index: 99; }

::-webkit-scrollbar {
  width: 2rem; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #999;
  border-radius: .8rem; }

::-webkit-scrollbar-thumb {
  background: #0088ff;
  border-radius: .8rem; }

::-webkit-scrollbar-thumb:hover {
  background: #005fb3; }

::selection {
  background-color: #fff;
  color: red; }

.playerIcon {
  height: 2rem;
  width: 2rem;
  z-index: 101;
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  fill: #999;
  transform: rotate(135deg);
  opacity: 0;
  transition: opacity .2s; }

.playerIcon.showIcon {
  opacity: 1;
  cursor: pointer; }

#aplayer {
  margin: 0;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 -2px 2px #dadada;
  background-color: #fff;
  transition: all ease .5s; }

#aplayer.showPlayer {
  bottom: 0; }

.aplayer span {
  color: #999 !important;
  font-size: 1.5rem; }

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  background-color: #e0e0e0 !important;
  height: 4px; }

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 4px;
  background-color: #005fb3 !important; }

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  background-color: red !important; }

.footer {
  background-color: #333;
  color: #fff;
  grid-column: full-start / full-end;
  padding: 3rem 5rem 0;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .footer__naviBox {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem; }
  .footer__box {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 4.5rem; }
  .footer__image {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block;
    margin-right: 17rem; }
  .footer__list {
    list-style: none;
    display: flex;
    width: max-content; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #0088ff;
    box-shadow: 0 1rem 2rem rgba(0, 136, 255, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 60%; }

.heading-2 {
  color: #0088ff;
  padding-bottom: .4rem;
  border-bottom: 2px solid #f0eeee; }

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-3--light {
    color: #fff; }
  .heading-3--dark {
    color: #0088ff; }

.heading-4 {
  color: #0088ff;
  font: 1.6rem; }

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem; }

.sidebar {
  position: fixed;
  height: 100%;
  width: 25rem;
  z-index: 100;
  border-right: 1px solid #f0eeee;
  background-color: #faf9f9; }
  .sidebar__logo {
    width: 6.5rem;
    height: 6.5rem;
    cursor: pointer;
    margin: 2rem 8.5rem; }
  .sidebar__list {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 1.5rem; }
  .sidebar__item {
    position: relative;
    padding: 0 3rem;
    transition: all .2s; }
    .sidebar__item:not(:last-child) {
      margin-bottom: 1vh; }
    .sidebar__item:hover {
      transform: translateX(0.5rem); }
  .sidebar__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: .5rem;
    height: 100%;
    width: 0;
    background-color: #0088ff;
    transition: all .2s; }
  .sidebar__item:hover::before {
    width: 5px; }
  .sidebar__link:link, .sidebar__link:visited {
    text-decoration: none;
    color: #777;
    cursor: pointer;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
  .sidebar__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
    fill: #0088ff; }
  .sidebar__library {
    margin-top: 3rem; }
  .sidebar__playlists {
    margin-top: 3rem; }

.navbar {
  background-color: #fff;
  grid-column: full-start / full-end; }

.header {
  display: flex; }
  .header__language select {
    width: 10.8rem;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 8.4rem;
    color: #faf9f9;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #0088ff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: span 1s; }
    .header__language select:focus {
      outline: none; }
  .header__language select option {
    background-color: #333;
    color: #faf9f9;
    border: none; }
  .header__btn {
    display: flex;
    align-items: center;
    transition: all .5s;
    position: relative; }
    .header__btn:hover {
      border-bottom: 2px solid #0088ff;
      transform: translateY(-1rem); }
  .header__btn:hover ~ .header__icon {
    transform: translateX(1rem); }
  .header__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #0088ff;
    margin-left: .3rem; }
  .header__language, .header__btn {
    align-self: center;
    margin: 1rem;
    padding: 1rem; }

.search {
  position: relative;
  width: 60%;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: start; }
  .search__input {
    border: none;
    width: 100%;
    padding: 2rem 6rem;
    margin: 2rem 4rem;
    z-index: 0;
    background-color: #fff;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      color: #777; }
  .search__button {
    border: none;
    background-color: #fff;
    position: absolute;
    top: 3.2rem;
    left: 6rem;
    z-index: 0;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 3rem;
    width: 3rem;
    fill: #0088ff; }
  .search__items {
    height: 0;
    display: none;
    position: absolute;
    top: 70%;
    left: 11%;
    background-color: #333;
    width: 80%;
    list-style: none;
    transition: all .5s; }
  .search__item {
    display: block;
    padding: 1.2rem 1.6rem;
    width: 95%;
    margin: 1rem; }
    .search__item:hover {
      background-color: #0088ff;
      cursor: pointer; }
  .search__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    width: inherit; }

.recommended {
  grid-column: full-start / full-end;
  padding: 2rem 6rem 4rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border-bottom: 2px solid #f0eeee; }
  .recommended__array {
    display: grid;
    grid-template-columns: repeat(10, minmax(15rem, 1fr));
    grid-gap: 7rem;
    align-items: start;
    padding-top: 3rem;
    overflow: auto;
    height: 30rem;
    width: 100%; }
  .recommended ::-webkit-scrollbar {
    height: 0; }
  .recommended__box {
    display: inline-block;
    width: 20rem;
    background-color: #0088ff;
    padding: 1rem .8rem 2rem;
    border-radius: 13px;
    box-shadow: 0 0 1rem red;
    position: relative;
    cursor: pointer;
    z-index: 5;
    transition: all ease .4s; }
    .recommended__box:hover {
      box-shadow: none;
      transform: scale(0.98) translateY(5px); }
  .recommended__box:hover .recommended__btn {
    transform: scale(0.8);
    cursor: pointer; }
  .recommended__heading {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    margin-top: .5rem;
    font-weight: 700; }
  .recommended__image {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 3px; }
  .recommended__btn {
    border: none;
    border-radius: 50%;
    background-color: red;
    padding: .5rem;
    position: absolute;
    bottom: 4.4rem;
    right: .6rem;
    transform: scale(0);
    z-index: 10;
    transition: all ease .4s; }
  .recommended__icon {
    fill: #fff;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center; }
  .recommended__text {
    font-size: 1.2rem;
    font-weight: 400; }

.topSongs {
  grid-column: full-start / col-end 4;
  padding: 2rem 3rem 2rem;
  display: grid;
  height: min-content;
  grid-template-columns: max-content;
  grid-row-gap: 1.5rem;
  position: relative;
  border-right: 2px solid #f0eeee;
  border-bottom: 2px solid #f0eeee; }
  .topSongs__container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 43rem;
    display: grid;
    grid-row-gap: 1rem;
    transition: transform 1s,opacity .5s; }
    .topSongs__container--1 {
      z-index: 100; }
    .topSongs__container--2, .topSongs__container--3 {
      position: absolute;
      bottom: 2rem;
      right: 0;
      width: 90%;
      transform: translateX(7rem);
      opacity: 0; }
  .topSongs ::-webkit-scrollbar {
    width: 1.5rem; }
  .topSongs ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #999;
    border-radius: 0 .8rem .8rem 0; }
  .topSongs ::-webkit-scrollbar-thumb {
    background: #0088ff;
    border-radius: 0 .8rem .8rem 0; }
  .topSongs ::-webkit-scrollbar-thumb:hover {
    background: #005fb3; }
  .topSongs__header {
    display: flex;
    width: 50rem;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #f0eeee; }
  .topSongs__sections {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-12rem); }
    .topSongs__sections h4 {
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0;
      transform: translateY(0.5rem);
      transition: all .4s; }
      .topSongs__sections h4:hover, .topSongs__sections h4.active {
        color: #0088ff;
        transform: translateY(-0.5rem);
        border-bottom: 1px solid #0088ff;
        cursor: pointer; }
  .topSongs__mainHeading {
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.7rem; }
  .topSongs__box {
    display: block;
    background-color: #f0eeee;
    padding: 1rem 2rem;
    height: 7rem;
    grid-column: 1 / -1;
    width: 100%;
    border-radius: .8rem 0 0 .8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all .2s;
    z-index: 10; }
    .topSongs__box:hover {
      transform: scale(1.05); }
  .topSongs__time {
    font-weight: bolder;
    font-size: 1.4rem;
    margin-right: 2.5rem; }
  .topSongs__upHeading {
    margin-right: auto;
    align-self: stretch;
    font-size: 1.5rem; }
  .topSongs__downHeading {
    position: absolute;
    top: 3.5rem;
    left: 9.8rem; }
  .topSongs__image {
    height: 5rem;
    width: 5.5rem;
    border-radius: 3px;
    margin-right: 2rem;
    object-fit: cover; }
  .topSongs__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #0088ff;
    margin: 0 1rem 0 .5rem;
    cursor: pointer; }
  .topSongs__iconbox {
    height: 2.5rem;
    width: 2.5rem;
    fill: transparent;
    stroke: #0088ff;
    stroke-width: 1.5;
    margin: 0 1rem 0 .5rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
    display: block; }
    .topSongs__iconbox svg {
      overflow: visible; }
    .topSongs__iconbox path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center; }
    .topSongs__iconbox--heartBackground {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      stroke: none; }
    .topSongs__iconbox--heartMain:hover path {
      animation: stroke-animation 2s ease-in-out forwards; }

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0; }
  30% {
    stroke-dashoffset: 1550; }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1); }
  80% {
    fill: #0088ff;
    transform: scale(1.1); }
  90% {
    transform: scale(1); }
  100% {
    stroke-dashoffset: 3100;
    fill: #0088ff; } }

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1); }
  80% {
    fill: #4dacff;
    transform: scale(1.1);
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(2.5);
    opacity: 0; } }

.recent {
  grid-column: col-start 5 / full-end;
  padding: 2rem 4rem 2rem;
  display: grid;
  height: min-content;
  grid-template-columns: max-content;
  position: relative;
  grid-row-gap: 1.9rem;
  border-radius: 5px;
  border-bottom: 2px solid #f0eeee; }
  .recent ::-webkit-scrollbar {
    width: 0; }
  .recent__mainHeading {
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    border-bottom: 2px solid #f0eeee; }
  .recent__array {
    display: block;
    width: 100%;
    height: 43rem;
    overflow: auto; }
  .recent__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: .2rem;
    width: 43rem;
    margin: 1rem; }
  .recent__btn {
    border: none;
    background-color: transparent; }
    .recent__btn:focus {
      outline: none; }
  .recent__box {
    position: relative;
    cursor: pointer; }
  .recent__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #0088ff;
    margin: 0 1rem 0 .5rem;
    cursor: pointer; }
  .recent__item {
    display: inline-block;
    height: 17rem;
    width: 45rem;
    border-radius: 5px;
    overflow: hidden; }
  .recent__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transform: scale(1.1);
    transition: all .4s ease; }
    .recent__image:hover {
      filter: brightness(1);
      transform: scale(1); }
  .recent__heading {
    color: white;
    transition: all .4s ease;
    cursor: pointer;
    margin-right: auto; }
    .recent__heading:hover {
      margin-left: 1rem; }
  .recent__time {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400; }

.radio {
  grid-column: full-start / full-end;
  padding: 5rem 6rem 0;
  display: grid;
  grid-row-gap: 2rem;
  border-bottom: 2px solid #f0eeee; }
  .radio__mainHeading {
    font-size: 2rem;
    font-weight: 700;
    grid-column: 1 / -1; }
  .radio ::-webkit-scrollbar {
    height: 0; }
  .radio__container {
    height: 25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(15rem, 1fr));
    grid-gap: 9rem;
    overflow: auto; }
  .radio__box {
    width: 100%;
    height: max-content;
    padding: 1rem;
    transition: all .4s ease; }
  .radio__item {
    display: block;
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    border: 2px solid #0088ff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0rem 1rem #0088ff; }
  .radio__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: all .5s; }
    .radio__image:hover {
      transform: scale(1);
      filter: blur(3px) brightness(0.8); }
  .radio__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0;
    transition: all 1s;
    cursor: pointer; }
    .radio__btn:hover {
      transform: translate(-50%, -50%);
      opacity: 1;
      background-color: #0088ff; }
    .radio__btn:focus {
      outline: none; }
  .radio__image:hover + .radio__btn {
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #0088ff;
    border-radius: 50%;
    padding: .5rem; }
  .radio__item:hover > .radio__image {
    transform: scale(1);
    filter: blur(3px) brightness(0.8); }
  .radio__icon {
    fill: #fff;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    transition: all 1s; }
  .radio__btn:hover .radio__icon {
    fill: #fff; }
  .radio__heading {
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease; }
  .radio__item:hover > .radio__heading {
    top: 70%;
    opacity: 1; }
  .radio__item:hover > .radio__btn {
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #0088ff; }

.topArtists {
  grid-column: full-start / full-end;
  padding: 5rem 6rem 0;
  display: grid;
  grid-row-gap: 3rem;
  border-bottom: 2px solid #f0eeee; }
  .topArtists__mainHeading {
    font-size: 2rem;
    font-weight: 700;
    grid-column: 1 / -1; }
  .topArtists ::-webkit-scrollbar {
    height: 0; }
  .topArtists__container {
    height: 25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(15rem, 1fr));
    grid-gap: 9rem;
    overflow: auto; }
  .topArtists__box {
    width: 100%;
    height: min-content;
    padding: 1rem;
    cursor: pointer;
    transition: all .4s ease; }
  .topArtists__item {
    display: block;
    height: 22rem;
    width: 22rem;
    border-radius: 10%;
    border: 2px solid #0088ff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0rem 1rem #0088ff; }
  .topArtists__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: all .5s; }
    .topArtists__image:hover {
      transform: scale(1);
      filter: blur(3px) brightness(0.8); }
  .topArtists__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0;
    transition: all 1s;
    cursor: pointer; }
    .topArtists__btn:hover {
      transform: translate(-50%, -50%);
      opacity: 1;
      background-color: #0088ff; }
    .topArtists__btn:focus {
      outline: none; }
  .topArtists__image:hover + .topArtists__btn {
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #0088ff;
    border-radius: 50%;
    padding: .5rem; }
  .topArtists__item:hover > .topArtists__image {
    transform: scale(1);
    filter: blur(3px) brightness(0.8); }
  .topArtists__icon {
    fill: #fff;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    transition: all 1s; }
  .topArtists__btn:hover .topArtists__icon {
    fill: #fff; }
  .topArtists__heading {
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease; }
  .topArtists__item:hover > .topArtists__heading {
    top: 70%;
    opacity: 1; }
  .topArtists__item:hover > .topArtists__btn {
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #0088ff; }

.margin-left {
  margin-left: 3rem !important; }

.margin-bottom {
  margin-bottom: 2rem !important; }

.login {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 499;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease; }
  .login__box {
    color: #0088ff;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    height: 65vh;
    width: 65vh;
    z-index: 500;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
    transition: all .4s ease;
    position: relative; }
  .login__heading {
    color: #0088ff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Sansita Swashed", cursive; }
  .login__form {
    height: 35rem;
    display: grid;
    grid-template-columns: max-content;
    grid-row-gap: 1rem;
    justify-content: center;
    align-content: center;
    transform: translateX(-4rem); }
  .login input {
    width: 130%;
    padding: 1rem 3rem 1rem 1rem;
    color: #777; }
  .login__forgot:link, .login__forgot:visited {
    color: #0088ff;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-transform: uppercase; }
  .login__forgot:hover, .login__forgot:active {
    color: #005fb3; }
  .login__submit {
    width: 130%;
    border: none;
    padding: 2rem 4rem;
    background-color: #0088ff;
    color: #fff;
    border-radius: 100px;
    height: 5rem;
    margin-top: 1rem;
    cursor: pointer; }
  .login__copyright {
    color: #0088ff;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Sansita Swashed", cursive;
    transform: translateY(4rem); }
  .login__close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    transform: rotate(135deg);
    cursor: pointer; }

.signup {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 499;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease; }
  .signup__box {
    color: #0088ff;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    height: 75vh;
    width: 75vh;
    z-index: 500;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
    transition: all .4s ease; }
  .signup__heading {
    color: #0088ff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Sansita Swashed", cursive; }
  .signup__form {
    height: 45rem;
    display: grid;
    grid-template-columns: max-content;
    grid-row-gap: 1rem;
    justify-content: center;
    align-content: center;
    transform: translateX(-4rem); }
  .signup input {
    width: 130%;
    padding: 1rem 3rem 1rem 1rem;
    color: #777; }
  .signup__forgot:link, .signup__forgot:visited {
    color: #0088ff;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-transform: uppercase; }
  .signup__forgot:hover, .signup__forgot:active {
    color: #005fb3; }
  .signup__submit {
    width: 130%;
    border: none;
    padding: 2rem 4rem;
    background-color: #0088ff;
    color: #fff;
    border-radius: 100px;
    height: 5rem;
    margin-top: 1rem;
    cursor: pointer; }
  .signup__copyright {
    color: #0088ff;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Sansita Swashed", cursive; }
  .signup__close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    transform: rotate(135deg);
    cursor: pointer; }
