// COLOR VARIABLES
$color-primary-light: #4dacff;
$color-primary: #0088ff;
$color-primary-dark: #005fb3;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

//FONT FAMILY
$font-primary: 'Sansita Swashed', cursive;
$font-heading: 'Open Sans', sans-serif;
$font-primary-test: 'Peddana', serif;

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  //1rem = 10px
}

body {
    font-family: $font-heading;
    color: $color-grey-dark-2;
    line-height: 1.6;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, min-content) 40vw repeat(6, min-content);
    grid-template-columns: [sidebar-start] 25rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    position: relative;
    z-index: 99;
}

::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-grey-dark-3; 
    border-radius: .8rem;
}
 
::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: .8rem; 
} 
  
::-webkit-scrollbar-thumb:hover {
    background: $color-primary-dark; 
}

::selection {
    background-color: #fff;
    color: red;
}

.playerIcon {
    display: block;
    height: 2rem;
    width: 2rem;
    z-index: 101;
    position: absolute;
    bottom: 6rem;
    right: .5rem;
    fill: $color-grey-dark-3;
    transform: rotate(135deg);
    opacity: 0;
    transition: opacity .4s .4s;
}

.playerIcon.showIcon {
    opacity: 1;
    cursor: pointer;
}

#aplayer {
    margin: 0;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 -2px 2px #dadada;
    background-color: #fff;
    transition: all ease .5s;
}
#aplayer.showPlayer {
    bottom: 0;
}

.aplayer span {
    color: $color-grey-dark-3 !important;
    font-size: 1.5rem;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    background-color: #e0e0e0 !important;
    height: 4px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 4px;
    background-color: $color-primary-dark !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    background-color: $color-primary-dark !important;
}