.footer {
    background-color: $color-grey-dark-1;
    color: #fff;
    grid-column: full-start / full-end;
    padding: 3rem 5rem 0;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    &__naviBox {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.5rem;
    }

    &__box {
        grid-column: 1 / -1;
        justify-self: center;
        margin-bottom: 4.5rem;
    }

    &__image {
        width: 15rem;
        height: auto;       
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark-3;
        padding-top: 2rem;
        display: inline-block;
        margin-right: 17rem;
    }

    &__list {
        list-style: none;
        display: flex;
        width: max-content;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-primary, .4);
        transform: rotate(5deg) scale(1.3);
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark-3;
        padding-top: 2rem;
        width: 60%;
    }
}