.recent {
    grid-column: col-start 5 / full-end;
    padding: 2rem 4rem 2rem;
    display: grid;
    height: min-content;
    grid-template-columns: max-content;
    position: relative;
    grid-row-gap: 1.9rem;
    border-radius: 5px;
    border-bottom: 2px solid $color-grey-light-3;

    ::-webkit-scrollbar {
        width: 0;
    }

    &__mainHeading {
        height: 10vh;
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.7rem;
        border-bottom: 2px solid $color-grey-light-3;
    }

    &__array {
        display: block;
        width: 100%;
        height: 43rem;
        overflow: auto;
    }

    &__btn {
        border: none;
        background-color: transparent;
    }

    &__box {
        position: relative;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        margin: 0 1rem 0 .5rem;
        cursor: pointer;
        position: absolute;
        bottom: 1.5rem;
        right: 4rem;
    }

    &__item {
        display: inline-block;
        height: 17rem;
        width: 45rem;
        border-radius: 5px;
        overflow: hidden;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(.5);
        transform: scale(1.1);
        transition: all .4s ease;

        &:hover {
            filter: brightness(1);
            transform: scale(1);
        }
    }

    &__heading {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
        color: white;
        transition: all .4s ease;
        cursor: pointer;

        &:hover {
            left: 2rem;
        }
    }

    &__time {
        color: #fff;
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        font-size: 1.7rem;
        font-weight: 400;
    }
}