.heading {
    &-2 {
        color: $color-primary;
        padding-bottom: .4rem;
        border-bottom: 2px solid $color-grey-light-3;
    }
    &-3 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        
        &--light { color: #fff;}
        &--dark {color: $color-primary;}
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    color: $color-grey-dark-2;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.4rem;

}
